applications:  
    iminbak-web:
        type: WebApp
        src_dir: /usr/apps/git-repositories/iminbak
        compile: mvn -U -Pproduction clean install
        build: mvn -U -Dmaven.test.skip=true -Pproduction clean install && rsync -avr --delete /usr/apps/git-repositories/iminbak/target/iminbak/ /usr/apps/projects/iminbak/webapps
        catalina_base: /usr/apps/projects/iminbak
        catalina_home: /usr/apps/servers/apache-tomcat-6.0.35
        java_opts: -Djava.awt.headless=true -Dfile.encoding=UTF-8 -server -Xms128m -Xmx256m -XX:PermSize=64m -XX:MaxPermSize=128m -XX:+DisableExplicitGC
        