applications:
    slipp-web:
        type: WebApp
        compile: mvn -U -Pintegration clean install
        build: mvn -U -Dmaven.test.skip=true -Pintegration clean install && cd aa-core && cd .. && rsync -avr --delete --exclude=.svn /usr/apps/build-projects/integration-aa-workspace/archeage/aa-web/target/aa-web-2.0-SNAPSHOT/ /usr/apps/web-projects/aa-obt-web/webapps/
        catalina_base: /usr/apps/projects/slipp3
        catalina_home: /usr/apps/servers/apache-tomcat-6.0.35
        java_opts: -Djava.awt.headless=true -Dfile.encoding=UTF-8 -server -Xms512m -Xmx1024m -XX:NewSize=256m -XX:MaxNewSize=256m -XX:PermSize=256m -XX:MaxPermSize=256m -XX:+DisableExplicitGC