applications:
    slipp-web:
        type: WebApp
        compile: mvn -U -Pintegration clean install
        build: mvn -U -Dmaven.test.skip=true -Pintegration clean install && cd aa-core && cd .. && rsync -avr --delete --exclude=.svn /usr/apps/build-projects/integration-aa-workspace/archeage/aa-web/target/aa-web-2.0-SNAPSHOT/ /usr/apps/web-projects/aa-obt-web/webapps/
        catalina_base: /usr/apps/web-projects/aa-obt-web
        catalina_home: /usr/apps/servers/apache-tomcat-6.0.26
        java_opts: -Xms256m -Xmx512m -XX:MaxPermSize=256m
        rsync: rsync -avr --delete --exclude=.svn --exclude=WEB-INF/classes/ --exclude=WEB-INF/lib/ --exclude=META-INF/ --exclude=deploy.jsp /usr/apps/build-projects/integration-aa-workspace/archeage/aa-web/webapp/ /usr/apps/web-projects/aa-obt-web/webapps/

	wiki-web:
		type: WebApp
		compile: 
		build: 
        catalina_base: /usr/apps/projects/confluence4
		catalina_home: /usr/apps/servers/apache-tomcat-6.0.35
		java_opts: -Xms256m -Xmx512m -XX:MaxPermSize=256m